@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c0a09;
  color: #e7e5e4;
}

/* Custom Scrollbar for the wasteland feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1917; 
}

::-webkit-scrollbar-thumb {
  background: #44403c; 
  border: 1px solid #c2410c;
}

::-webkit-scrollbar-thumb:hover {
  background: #c2410c; 
}

/* Date picker dark mode fix */
input[type="date"] {
  color-scheme: dark;
}
